<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="projectName" value="template-service"/>
    <property name="defaultPattern" value="%d{ISO8601} [${projectName}] %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${defaultPattern}
            </pattern>
        </encoder>
    </appender>
    <!--    root-->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
    <!--    hibernate-->
    <logger name="org.hibernate" level="trace" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.hibernate.type" level="all" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.hibernate.SQL" level="all" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <!--    jdbc-->
    <logger name="org.springframework.jdbc" level="trace" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <!--    application-->
    <logger name="com.softeno" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>
</configuration>