<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="projectName" value="template-service"/>
    <property name="defaultPattern" value="%d{ISO8601} [${projectName}] %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${defaultPattern}
            </pattern>
        </encoder>
    </appender>
    <!--    root-->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
    <!--    application-->
    <logger name="com.softeno" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <!--    db -->
    <logger name="logging.level.io.r2dbc" level="debug" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <logger name="logging.level.org.springframework.r2dbc" level="debug" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <logger name="logging.level.org.springframework.data" level="debug" additivity="false" >
        <appender-ref ref="Console" />
    </logger>
    <!-- -->
</configuration>